<%- include("header") -%>

<h2>This is the about page</h2>

<p>
  Lorem ipsum dolor sit, amet consectetur adipisicing elit. Necessitatibus nam
  recusandae tenetur eveniet debitis, fugiat rem repellat quisquam explicabo a
  sint vitae, asperiores ipsam beatae iste voluptatum cumque laborum. Sapiente!
</p>

<%- include("footer") -%>
